
* {
    padding: 0;
    margin: 0;
}

.body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size:50px;
    font-style: italic;
    text-decoration: underline;
}

.num {
    margin-top: 25px;
    font-size: 35px;
}